<template>
    <div class="LoginPage">
        <form>
            <div class="formInput">
                <label class="labelLog">Email</label>
                <input type="text" class="logInput" placeholder="blabla@student.42.fr" />
            </div>
            <div class="formInput">
                <label class="labelLog">Password</label>
                <input type="password" class="logInput" placeholder="********" />
            </div>
            <div>
                <button class="submitLog">Sign in with 42 auth</button>
            </div>
        </form>
    </div>

</template>

<script>
export default {
    data() {
        return {
            emailUser: '',
            passUser: ''
        }
    }
}
</script>

<style>
.LoginPage {
    margin:auto;
    background-color: gray;
    text-align: center;
    width: 50%;
    padding: 50px;
    box-shadow:
        0.2px 0.3px 10.6px rgba(0, 0, 0, 0.119),
        -0.2px -0.2px 22.6px rgba(0, 0, 0, 0.142),
        -0.7px -0.9px 37.7px rgba(0, 0, 0, 0.148),
        0px 0px 60.3px rgba(0, 0, 0, 0.145),
        5.9px 7.5px 102.9px rgba(0, 0, 0, 0.136),
        69px 88px 281px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
}

.labelLog {
    font-weight: bold;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.formInput {
    display: flex;
    flex-direction: column;
    padding-inline: 18%;
}

.logInput {
    height: 30px;
    border-radius: 15px;
    font-size: large;
    margin-bottom: 50px;
}

.submitLog {
    background-color: #00babc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
}
</style>