<template>
    <nav class="nav">
        <div v-for="elem in navButtons" v-bind:key="elem.name" class="navEncapse">
            <button class="navButton">{{ elem.name }}</button>
        </div>
    </nav>
</template>

<script>
export default {
    data() {
        return {
            navButtons: [
                { name: "Logo" },
                { name: "Play" },
                { name: "About" },
                { name: "Contact" }
            ]
        }
    }
}

</script>
<style>
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    overflow-x: hidden;
    height: 100%;
    padding: 20px;
    z-index: 1;
    top: 0;
    left: 0;

}
.navEncapse > .navButton {
	display: inline;
	margin-bottom:	6%;
	margin-top:	6%;
	height:	50%;
	width: 	100%;
	flex:	1 1 0;
	vertical-align:	center;
	text-align:		center;
	min-width:		142px;
	font-family: 		MyanmarText;
	font-size: 		25px;
	color:			rgb(37, 46, 131);
	letter-spacing:	2%;
	background: white;
	border:	none;
}
</style>