<template>
  <NavBar v-if="isLog()" />
  <router-view />
</template>

<script>
import NavBar from './components/navBar.vue'

  export default {
    name: 'App',
    components: {
      NavBar,
    },
    data() {
      return {
        userId: 0
      }
    },
    methods: {
      isLog() {
        if (this.userId != 0)
          return true;
        return false;
      }
    }
  }
</script>



<style>
#app {
  height: 100%;
}
</style>
